body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  text-align: center;
}

.input-container {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  height: 100%;
  min-width: 50%;
  padding: 0px 16px;
}

input.input-field {
  margin-right: 1rem;
  padding: 0.5rem;
  width: 70%;
}

button.button {
  padding: 0.5rem 1rem;
  margin-left: 5px;
}

.iframe-container {
  width: 100%;
  height: 100%;
}

.no-iframe-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  margin-top: 1rem;
}

.error {
  color: red;
}

/* Monday.com Tab UI Style */
.tabs-context--wrapper {
  width: 100%;
  height: 100%;
}

.tabs-list--wrapper {
  padding: unset;
}

.tabs-list--wrapper > ul {
  padding: unset;
}

.tab-inner {
  padding: 0px 8px !important;
}

.tab-panels--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 40px);
}

.tab-panel--wrapper {
  width: 100%;
  height: calc(100% - 20px);
}
